body {
    background: rgb(167, 96, 199);
    text-align: center;
    color: white;
    font: normal 15pt arial;
}

header {

}

section {
background: white;
padding: 20px;
width: 500px;
border-radius: 5px;
margin: auto;
color: black;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.278);
}

select {
    width: 140px;
}